server:
  port: 8080

spring:
#  profiles: dev

  jmx:
    default-domain: springbootdemo

  http:
    encoding:
      force: true
      charset: UTF-8
      enabled: true
      
  datasource:
    name: test
    url: jdbc:mysql://localhost:3306/demo
    username: root
    password: 123456


  redis:
    database: 5
    host: 127.0.0.1
    port: 6379
    password: gicisky2017mqwhlktechhomekitServer
    timeout: 5000
    pool:
      max-active: 8
      max-wait: -1
      max-idle: 8
      min-idle: 0

mybatis:
  mapper-locations: classpath:mapper/*.xml
  typeAliasesPackage: com.example.entity
  configuration:
    map-underscore-to-camel-case: true